.user-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 240px;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  .user-img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: transform 0.3s;
    }
  }
  .user-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    .user-name {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 6px;
      color: #002244;
    }
    .user-email {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 6px;
      color: #a3c1ad;
    }
  }
}
