.search-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  input {
    position: relative;
    outline: none;
    border: none;
    color: #00ccff;
    font-weight: 600;
    width: 32rem;
    padding: 18px 40px;
    margin: 10px;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    &::placeholder {
      font-size: 16px;
      color: #00ccff;
    }
    @media screen and (max-width: 580px) {
      width: 16rem;
    }
  }
  .search-icon {
    position: absolute;
    left: 65%;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 480px) {
      left: 70%;
    }
  }
}
.user-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
